img {
  display: block;
  max-width: 100%;
  height: auto;
}

.image__list {
  display: flex;
  list-style: none;
  background-color: lightblue;
  margin-left: 20px;
}

.image__item {
  border: 1px, red, solid;
}

.image__style {
  display: block;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
